NOUN_PROJECT_KEY=abckdfj....
NOUN_PROJECT_SECRET=chdbf....
CLERK_PUBLISHABLE_KEY=pk_djfbafm....
GEMINI_API_KEY=dfja...
ELEVENLABS_API_KEY=sk_huddio...
STABILITY_API_KEY=sk-hbjdid...

CLOUDINARY_CLOUD_NAME=ydbj..
CLOUDINARY_API_KEY=udjhfuks..
CLOUDINARY_API_SECRET=8gyjhoef...
GROQ_API_KEY=uehjjkeu...

DEEPGRAM_API_KEY=hdkdkhu..
MONGO_URI=mongodb+srv:/abcxyz...